<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flag2</title>
    <script>
        function check(form){
            let pw=form.querySelector('[name=pw]').value;
            if (pw=="Naup_Sumire_Hime"){
                alert("不讓你送Naup_Sumire_Hime，想想其他辦法吧~");
                return false;
            }
            else{
                alert("密碼錯誤");
                return false;
            }
        }

    </script>
  
</head>
<body>
    <h1>社網我偷偷藏了個東西，只要你輸入正確的密碼</h1>
    <p>跟你說喔，密碼是Naup_Sumire_Hime</p>
    <form onsubmit="return check(this)" action="/send_flag" method="post">
        <input type="password" name="pw" placeholder="密碼打這裡喔~">
        <input type="submit" value="送出">
    </form>
</body>
</html>