<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>課程介紹</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  {% include 'navbar.html' %}


  <section class="gosomewhere custom-primary">
    <br><br>
    <div class="text-center">
        <h1 class="fw-bolder">社團課程</h1>
    </div>
    <br>
    <div class="container" id="features">
        <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/lllll.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">語法班</h2>
                <h5>講師:rcherry</h5>
                <h5 class="card-text">課程介紹：ㅤ</h5>
                <p>各位同學好，歡迎來到成電的語法班。在這個課程後，你可以對C++還有程式有基本的認知，之後就可以朝自己有興趣的方面去鑽研。
                    希望可以為大家打開程式設計的大門。</p>
                <p>歡迎大家來參加</p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/lllll.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">算法班</h2>
                <h5>講師:skotono、Spikaido</h5>
                <h5 class="card-text">課程介紹：ㅤ</h5>
                <p>主要以競程導向為主，
                    以基本語法為基礎，並延伸到資料結構及演算法，
                    其中也包括各種經典題，
                    講師會帶各位慢慢實作跟介紹
                </p>
                <p>也歡迎大家來跟講師討論</p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/lllll.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">專案班</h2>
                <h5>講師:You</h5>
                <h5 class="card-text">課程介紹：ㅤ</h5>
                <p>這個課程首先會教一些基礎的python語法、之後會教一些寫網頁的語法、最後，可以跟成電的學長們一起討論製作出一個專題出來喔~~ </p>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<br><br><br><br><br>
<!--
<section class="gosomewhere custom-primary">
  <br><br>
  <div class="text-center">
      <h1 class="fw-bolder">放課課程</h1>
  </div>
  <br>
  <div class="container" id="features">
      <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/lllll.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">CTF資安</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：ㅤ</h5>
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/lllll.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">前端</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：ㅤ</h5>
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/lllll.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">AI</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：ㅤ</h5>
          </div>
          </div>
      </div>
      </div>
  </div>
  <br>
</section>
-->
    {% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>