<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CKCSC-36</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <!-- Navigation Bar -->
  {% include 'navbar.html' %}


  <!-- Main Content -->
  <section class="gosomewhere custom-primary">
    <br><br>
    <div class="text-center">
        <h1 class="fw-bolder">社團課程</h1>
    </div>
    <br>
    <div class="container" id="features">
        <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/tst.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">語法班</h2>
                <h5>講師:123</h5>
                <h5 class="card-text">課程介紹：會從頭開始教c++的語法，適合0基礎的初學者</h5>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/tst.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">算法班</h2>
                <h5>講師:123</h5>
                <h5 class="card-text">課程介紹：主要是教演算法的概念，適合已有程式語言基礎，並且有興趣參加程式競賽，如apcs，或研究資訊科學的同學。</h5>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="static/tst.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="fw-bolder">專案班</h2>
                <h5>講師:123</h5>
                <h5 class="card-text">課程介紹：這堂課會涵蓋許多主題，分別由不同講師上課，例如python，網頁，git等等。目的希望給予社員做專案的一些基礎知識，並啟發程式的興趣。</h5>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="gosomewhere custom-primary">
  <br><br>
  <div class="text-center">
      <h1 class="fw-bolder">放課課程</h1>
  </div>
  <br>
  <div class="container" id="features">
      <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/tst.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">CTF資安</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：會從頭開始教c++的語法，適合0基礎的初學者</h5>
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/tst.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">前端</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：主要是教演算法的概念，適合已有程式語言基礎，並且有興趣參加程式競賽，如apcs，或研究資訊科學的同學。</h5>
          </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
          <img src="static/tst.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="fw-bolder">AI</h2>
              <h5>講師:123</h5>
              <h5 class="card-text">課程介紹：這堂課會涵蓋許多主題，分別由不同講師上課，例如python，網頁，git等等。目的希望給予社員做專案的一些基礎知識，並啟發程式的興趣。</h5>
          </div>
          </div>
      </div>
      </div>
  </div>
  <br>
</section>
    <!--  -->
    {% include 'footer.html' %}
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>