<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>社團介紹</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


  {% include 'navbar.html' %}
    


    <section class="py-5" id="scroll-target">
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center" style="background-color: #f5ebe0; ">
              <div class="col-lg-6 mt-1"><img class="img-fluid rounded mb-5 mb-lg-0" style="width: 70%; box-shadow: 5px 5px 5px grey;" src="static/hor.png" alt="..." /></div>
              <div class="col-lg-6">
                  <h2 class="fw-bolder font-weight-bold">關於我們</h2>
                  <p class="lead fw-normal text-muted mb-1">成功電子計算機研習社第36屆！也叫作「成功電研」、「電研」、「成電」。身為學術性社團
                    當然是聚在一起切磋精進程式能力
                    我們有精通各領域的學長們
                    無論是機器學習、JavaScript、Python
                    或是Unity、Arduino、Electron
                    都有涉獵！
                    學弟加成電，未來不設限。</p>
              </div>
          </div>
      </div>
  </section>

  <section class="py-5 bg-light">
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center" style="background-color: #e3d5ca;">
              <div class="col-lg-6 order-first order-lg-last mt-1"><img class="img-fluid rounded mb-5 mb-lg-0" src="static/ru.png" alt="..." style="width: 100%;box-shadow: 5px 5px 5px grey;" /></div>
              <div class="col-lg-6">
                  <h2 class="fw-bolder font-weight-bold">社課簡介</h2>
                  <p class="lead fw-normal text-muted mb-0">我們這學期總共會開三個班級
                    分別是C++的語法班、C++的算法班、以及專題基礎班</p>
                  <h3 class="lead fw-normal text-muted mb-0">📌C++算法</h3>
                  <h3 class="lead fw-normal text-muted mb-0">📌C++語法</h3>
                  <h3 class="lead fw-normal text-muted mb-0">📌專題基礎</h3>
              </div>
          </div>
      </div>
  </section>

  <section class="py-5" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center" style="background-color: #f5ebe0; ">
            <div class="col-lg-6 mt-1"><img class="img-fluid rounded mb-5 mb-lg-0" style="width: 70%;box-shadow: 5px 5px 5px grey;" src="static/IZCC.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder font-weight-bold">活動介紹</h2>
                <p class="lead fw-normal text-dark mb-0">我們成電也是有很多活動的喔
                  我們會跟四校（建、成、中、景）一起辦活動
                  至於有什麼呢</p>
                <h3 class="lead fw-normal text-dark mb-0">📌迎新</h3>
                <h3 class="lead fw-normal text-dark mb-0">📌聯課</h3>
                <h3 class="lead fw-normal text-dark mb-0">📌秋遊</h3>
                <h3 class="lead fw-normal text-dark mb-0">📌耶晚</h3>
                <h3 class="lead fw-normal text-dark mb-0">📌寒訓</h3>
                <h3 class="lead fw-normal text-dark mb-0">📌春遊</h3>
                
            </div>
        </div>
    </div>
  </div>
</section>

  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder font-weight-bold">IZCC建成楓景四校</h2>
            <p class="lead fw-normal text-muted mb-5">IZCC由建中資訊(INFOR)、成功電研(CKCSC)、中山資研(ZSISC)、景美電資(CMIOC)組成。IZCC每年都會共同舉辦一系列精彩的活動， 包含迎新、暑訓、秋遊、聯課等等。同時週一到週五放學後也將共同舉辦放課(小社課)， 開學後會有課表出來，歡迎有興趣的同學來參加！IZCC以學習電腦程式設計為主包含但不限於語法教學、專案開發、人工智慧、資訊安全等等。歡迎各位在這裡交新朋友、聯絡感情。</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <a href="https://www.instagram.com/ckcsc36th_diary/">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="static/LOGO/CKCSC_LOGO2.jpg" alt="..." />
                    </a>
                    <h5 class="fw-bolder">成功電研</h5>
                    <div class="fst-italic text-muted">ckcsc</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <a href="https://www.instagram.com/infor_36th/">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="static/LOGO/INFOR_LOGO.jpg" alt="..." />
                    </a>
                    <h5 class="fw-bolder">建中資訊</h5>
                    <div class="fst-italic text-muted">infor</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <a href="https://www.instagram.com/zsisc30th/">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="static/LOGO/ZSISC_LOGO.jpg" alt="..." />
                    </a>
                    <h5 class="fw-bolder">中山資研</h5>
                    <div class="fst-italic text-muted">zsisc</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <a href="https://www.instagram.com/cmioc__30th/">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="static/LOGO/CMIOC_LOGO.jpeg" alt="..." />
                    </a>
                    <h5 class="fw-bolder">景美電資</h5>
                    <div class="fst-italic text-muted">cmioc</div>
                </div>
            </div>
        </div>
    </div>
  </section>

    {% include 'footer.html' %}
    

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>