<footer class="py-4 mt-auto" style="background-color: rgb(157, 110, 66);">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">CKCSC_36th &copy; Website 2023</div>
            </div>
            <div class="col-auto">
                <a class="link-light small text-white" href="{{url_for('home')}}">首頁</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small text-white" href="{{url_for('club_introduce')}}">社團簡介</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small text-white" href="{{url_for('cadre_introduction')}}">幹部介紹</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small text-white" href="{{url_for('class_introduce')}}">課程介紹</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small text-white" href="{{url_for('slides')}}">教學簡報</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small text-white" href="https://www.instagram.com/ckcsc36th_diary/">IG</a>
            </div>
        </div>
    </div>
</footer>
